.quitBox {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -75px;
    width: 320px;
    height: 150px;
    background: none;
}

.quitHeader {
    cursor: move;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 15%), 0 0 0 1px rgb(0 0 0 / 70%);
    background: rgba(25, 25, 25, 0.9);
    border-radius: 3px 3px 0 0;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    color: #d0d0d0;
    font-size: 12px;
    border: 1px solid rgba(18, 18, 18, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Title {
        font-size: 14px;
    }
    &Close {
        font-size: 14px;
        cursor: pointer;
    }
}

.quitContent {
    flex: 1;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 15%), 0 0 0 1px rgb(0 0 0 / 70%);
    background: #232323;
    border: 0;
    padding: 0;
}

.quitFooter {
    background: #232323;
    border-top: 0;
    padding-bottom: 8px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: auto;
    line-height: 46px;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 10%), 0 0 0 1px rgb(0 0 0 / 70%);
    text-align: center;
}

.quitFooter button {
    width: 100px;
}
.quitFooter button:last-child {
    margin-left: 22px;
}
