.passwordModalBox {
  width: 800px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -150px;
}

.passwordModalHeader {
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 15%), 0 0 0 1px rgb(0 0 0 / 70%);
  background: rgba(25, 25, 25, 0.9);
  border-top-left-radius: 3px;
  height: 38px;
  min-height: 38px;
  padding: 0 10px;
  color: #d0d0d0;
  font-size: 12px;
  border-top-right-radius: 3px;
  border: 1px solid rgba(18, 18, 18, 0.9);
}

.passwordModalContent {
  border: 0;
  padding: 0;
  padding: 14px 30px 10px;
  background: rgba(35, 35, 35, 0.95);
  label{
    color:#fff !important;
  }
  button{
    width: 100px;
  }
}
