{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "94"
        }
        // "useBuiltIns": "usage",
        // "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
