.modelContent {
  h3 {
    background: #fafafa;
    padding: 6px 12px;
  }
  .inputDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .renderDiv {
    display: inline-block;
    width: 25%;
    margin-bottom: 16px;
  }
  .inputSpan {
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    padding: 6px 12px;
  }
  .paramInput {
    margin-right: 20px;
  }
  .outputSpan {
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    padding: 6px 12px;
  }
  .paramOutput {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #f2f2f2;
    padding: 6px 12px;
    min-width: 100px;
    /* width: 120px; */
  }
}
